.vs/Conversor-de-Unidades/config/applicationhost.config
.vs/Conversor-de-Unidades/FileContentIndex/292bde06-5d35-43dc-a1e5-9ead3a71a3e1.vsidx
.vs/Conversor-de-Unidades/FileContentIndex/6cb119ba-d7fb-46b6-ad13-1f81231f467b.vsidx
.vs/Conversor-de-Unidades/FileContentIndex/b894db56-cb09-4494-993b-4fc43172c480.vsidx
.vs/slnx.sqlite
