body{
    background-color: #142d4c;
}

h1{
    font-family: tahoma;
    text-align: center;
    color: #ececec;
}

button{
    margin: 15px;
    background-color: #385170;
    color: #ececec;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center; 
    font-size: 16px; 
    cursor: pointer; 
    border: none;
}

button:hover{
    background-color: #383f70;
}
button:active{
    transform: scale(0.95);
}

.tituloCards{
    font-size: 1.5em;
    font-family: tahoma;
    color: #ececec;    
}

.container{
    display: flex;
    justify-content: center;
    perspective: 1000px;
}

.card{
    background-color: #385170; 
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-family: tahoma;
    color: #ececec;
    width: 300px;
}

.card img{
    max-width: 100%; 
    height: auto;
    border-radius: 8px; 
}

.card input{
    margin: 5px;
    background-color: #9fd3c7;
    text-align: center;
    font-family: tahoma;
    color: #385170;
    font-weight: bold;
}

.card button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #9fd3c7;
    color: #385170;
}

.card button:hover{
    background-color: #9fbfd3;
}